*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com");
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Lato";
  background: linear-gradient(to left, #d66c45, #d58131, #4a736a, #324756);
}

.wrapper {
  display: flex;
}

.dropdown-wrapper {
  margin: 3vh 1vw 0 1vw;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-btn {
  width: 15vw;
  min-height: 10vh;
  background-color: #2789ca;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
}

.dropdown {
  width: 15vw;
  height: 70vh;
  display: none;
  background-color: #f1f1f1;
  min-width: 9rem;
  box-shadow: 0 0.5rem 1rem 0 #302f2f;
  z-index: 1;
  overflow-y: scroll;
}

.dropdown-result {
  width: 15vw;
  min-height: 10vh;
  display: none;
  color: #302f2f;
  font-size: 1rem;
  padding: 0 1rem;
}

.dropdown a {
  color: black;
  padding: 0.75rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown-wrapper:hover .dropdown-btn {
  background-color: #3faffa;
  cursor: pointer;
}

.title-btn {
  display: none;
}

.show {
  display: block;
}
